/* Jamie Padovano */

body {
  padding: 100px;
}

@keyframes myHorizAnimation
{
    from {
        left: -30%;
    }
    to {
        left: 100%;
        display: none;
    }
}

@keyframes myVertAnimation
{
    from {
        top: -50%;
    }
    to {
        top: 100%;
        display: none;
    }
}

div {
  position: fixed;
  border-style: solid;
  transform-origin: center center 0;
}

.vertical {
  animation: myVertAnimation;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.horizontal {
  animation: myHorizAnimation;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
